@import "tailwindcss";

/* dark mode transition */
/* * {
  @apply transition-colors duration-500 ease-in-out;
} */

/* dark mode */
@custom-variant dark (&:where([dark-theme=dark], [dark-theme=dark] *));

@theme{
   --animate-menuopen: menuopen .2s ease-in-out;
    @keyframes menuopen {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
    }
}

@layer components{
  .menu{
    @apply cursor-pointer text-base font-normal text-white transition-transform duration-300 ease-out hover:scale-110 relative 
        after:content-[''] after:absolute after:left-0 after:-bottom-1 
        after:h-[2px] after:w-0 after:bg-blue-500 after:transition-all after:duration-300 
        hover:after:w-full dark:text-black;
  }
  .mobilemenu{
    @apply text-white text-xl font-medium;
  }
  .activemobilemenu{
    @apply text-[#34b484] transition-transform duration-300 ease-out relative  after:content-[''] after:absolute after:left-0 after:-bottom-1 
          after:h-[2px] after:bg-[#34b484] after:transition-all after:duration-300 after:w-full
  }
  .custom-container{
    @apply max-w-[1200px] mx-auto;
  }
}




